@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@layer base {
    :root {
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
        scroll-behavior: smooth;
    }

    .btn {
        @apply px-2 py-1
        text-gray-50 bg-gray-600
        hover:bg-gray-50 hover:text-gray-600
        rounded-lg
        border-2 border-gray-900
        transition
    }

    .dot {
        @apply w-full max-w-4 h-4 border-3 border-black rounded-sm
    }

    .dot-green {
        @apply bg-emerald-600 hover:bg-emerald-300 hover:cursor-pointer
    }

    .dot-red {
        @apply bg-red-600 hover:bg-red-300 hover:cursor-pointer
    }

    .dot-gray {
        @apply bg-gray-600 hover:bg-gray-300 hover:cursor-not-allowed
    }

    .progress {
        position: fixed;
        animation: grow linear forwards;
        animation-timeline: scroll();

        @apply h-2 w-0 fixed text-white bg-emerald-600 rounded-r-sm border-2 border-emerald-900
    }

    @keyframes grow {
        to {
            width: 100%;
        }
    }
}