@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@layer base {
    :root {
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
        scroll-behavior: smooth;
    }

    .main-bg {
        @apply bg-linear-to-r from-slate-600 to-slate-500
    }

    dialog::backdrop {
        @apply bg-gray-900/30 backdrop-blur-sm;
    }

    dialog {
        opacity: 0;
        margin: auto;
        background-color: transparent;
    }

    dialog[open] {
        opacity: 1;

        @starting-style {
            opacity: 0;
            translate: 0 -25vh;
        }
    }

    .note-textarea {
        @apply bg-slate-500 rounded-lg p-3 text-white max-w-full m-1 drop-shadow;
    }

    .glass {
        @apply bg-white/20 border border-white/30 shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-sm;
    }

    .glass.overlay {
        @apply bg-black/20 border border-black/30 shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-sm;
    }

    .btn {
        @apply px-2 py-1
        text-gray-50 bg-gray-600
        hover:bg-gray-50 hover:text-gray-600
        rounded-lg
        border-2 border-gray-900
        transition-all duration-200 ease-in-out;
    }

    .btn-sm {
        @apply px-1 py-0.5 text-sm;
    }

    .btn-glass {
        @apply px-3 py-2 m-1 focus:outline-none focus:ring-2 focus:ring-slate-300
        text-gray-100 bg-white/20
        hover:bg-white/40 hover:text-gray-600
        rounded-lg
        shadow-[0_4px_30px_rgba(0,0,0,0.1)]
        backdrop-blur-sm
        transition-all duration-200 ease-in-out;
    }

    .btn-glass.btn-success {
        @apply text-emerald-100 bg-emerald-600/20
        hover:bg-emerald-600/40 hover:text-gray-600;
    }

    .btn-glass.btn-danger {
        @apply text-rose-100 bg-rose-600/20
        hover:bg-rose-600/40 hover:text-gray-600;
    }

    input[type="date"] {
        @apply bg-gray-600 border-2 border-black p-2 rounded-xl;

        &:focus {
            @apply outline-none ring-2 ring-emerald-600;
        }
    }

    textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
        @apply outline-none ring-2 ring-slate-300;
    }

    .dot {
        @apply w-full max-w-8 md:max-w-6 lg:max-w-4 h-8 md:h-6 lg:h-4 border-4 md:border-3 border-gray-800 rounded-lg md:rounded-sm;
    }

    .dot.dot-sm {
        @apply w-full max-w-4 h-4 border-2 rounded-sm;
    }

    .dot.dot-green {
        @apply bg-emerald-500 hover:bg-emerald-300 hover:cursor-pointer;
    }

    .dot.dot-red {
        @apply bg-rose-700 hover:bg-red-300 hover:cursor-pointer;
    }

    .dot.dot-gray {
        @apply bg-slate-500 hover:cursor-not-allowed;
    }

    .progress {
        position: fixed;
        animation: grow linear forwards;
        animation-timeline: scroll();
        z-index: 9999;

        @apply h-2 w-0 fixed text-white bg-emerald-600 rounded-r-sm border-2 border-emerald-900;
    }

    @keyframes grow {
        to {
            width: 100%;
        }
    }
}